[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ipython = "*"
mypy = "*"
pre-commit = "*"
pytest-cov = "*"
flake8 = "*"
pylint = "*"
types-PyYAML = "*"
types-requests = "*"
types-pytz = "*"

[requires]
python_version = "3.8"
